/* Grundlegendes Reset und Basislayout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #f0f0f0;
  --text-color: #333;
  --card-bg: #fff;
  --accent-color: #333;
  --btn-hover: #555;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.6;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

h1{
  display: inline-block;
  color: var(--text-color);
  font-family: "Coral Pixels", serif;
  font-size: 27rem;
  text-align: center;
}

.typewriter {
  transform: translateX(2.5rem);
}

h1.caret{
  font-size: 30rem;
  transform: translateX(-2.5rem);
  animation: 
    blink-caret 1s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { opacity: 100% }
  50% { opacity: 0%; }
}

div.header-container {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  text-align: center;
  padding: 2rem 1rem;
  background: #f1f1f1;
  font-size: 0.9rem;
  color: #666;
}